.product-page {
  padding: 2rem;
  padding-left: 4rem;
}
.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.product-price {
  color: #333;
}

.button-container {
  margin-top: 15px;
}

.button-container button {
  margin: 5px;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container button:nth-child(1) {
  background-color: #4caf50;
  color: white;
}

.button-container button:nth-child(2) {
  background-color: #008cba;
  color: white;
}

.product-box {
  /* display: flex;
  flex-direction: row; */
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.product-box::-webkit-scrollbar {
  width: 12px;
}
.navbar-logo {
  height: 4rem;
  margin-left: 3rem;
  filter: brightness(0.8);
}
.nav-item {
  padding-left: 1.2rem;
}
.productpage-banner {
  width: 100%; /* Make the image take up 100% of its container's width */
  height: 90%; /* Maintain the image's aspect ratio */
  display: block; /* Remove any default inline styles */
  margin: 0 auto; /* Center the image horizontally */
}
